body{
    background-color: gray;
    text-align: center;
}


h1{
    text-align: center;
}

legend{
    text-align: center;
}

fieldset{
    width: 35%;
    border-radius: 15px;
}    

input{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

input[type=submit], input[type=reset]{
    cursor: pointer;
}

.image{
    position: relative;
    float: right;
    width: 35%;
}